In [96]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)

In [97]:
df=pd.read_csv('credit_card.csv')
df=df.drop('ID',axis=1)
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,20000,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [98]:
df.dtypes

LIMIT_BAL      int64
SEX            int64
EDUCATION      int64
MARRIAGE       int64
AGE            int64
PAY_1          int64
PAY_2          int64
PAY_3          int64
PAY_4          int64
PAY_5          int64
PAY_6          int64
BILL_AMT1    float64
BILL_AMT2    float64
BILL_AMT3    float64
BILL_AMT4    float64
BILL_AMT5    float64
BILL_AMT6    float64
PAY_AMT1     float64
PAY_AMT2     float64
PAY_AMT3     float64
PAY_AMT4     float64
PAY_AMT5     float64
PAY_AMT6     float64
DEFAULT        int64
dtype: object

In [99]:
df['SEX']=df['SEX'].map({1:'Male',2:'Female'})

In [100]:
df['EDUCATION']=df['EDUCATION'].map({1:'GraduateSchool', 2:'University', 3:'HighSchool', 4:'Others', 0:'Others', 5:'Others', 6:'Others'})

In [101]:
df['MARRIAGE']=df['MARRIAGE'].map({1:'Married',2:'Single',3:'Others'})

In [102]:
df['PAY_1']=df['PAY_1'].map({-1:'Paid_duly', -2:'No_usage', 0:'Revolving', 1:'delay_1', 2:'delay_2', 3:'delay_3', 4:'delay_4', 5:'delay_5', 6:'delay_6', 7:'delay_7', 8:'delay_8'})
df['PAY_2']=df['PAY_2'].map({-1:'Paid_duly', -2:'No_usage', 0:'Revolving', 1:'delay_1', 2:'delay_2', 3:'delay_3', 4:'delay_4', 5:'delay_5', 6:'delay_6', 7:'delay_7', 8:'delay_8'})
df['PAY_3']=df['PAY_3'].map({-1:'Paid_duly', -2:'No_usage', 0:'Revolving', 1:'delay_1', 2:'delay_2', 3:'delay_3', 4:'delay_4', 5:'delay_5', 6:'delay_6', 7:'delay_7', 8:'delay_8'})
df['PAY_4']=df['PAY_4'].map({-1:'Paid_duly', -2:'No_usage', 0:'Revolving', 1:'delay_1', 2:'delay_2', 3:'delay_3', 4:'delay_4', 5:'delay_5', 6:'delay_6', 7:'delay_7', 8:'delay_8'})
df['PAY_5']=df['PAY_5'].map({-1:'Paid_duly', -2:'No_usage', 0:'Revolving', 1:'delay_1', 2:'delay_2', 3:'delay_3', 4:'delay_4', 5:'delay_5', 6:'delay_6', 7:'delay_7', 8:'delay_8'})
df['PAY_6']=df['PAY_6'].map({-1:'Paid_duly', -2:'No_usage', 0:'Revolving', 1:'delay_1', 2:'delay_2', 3:'delay_3', 4:'delay_4', 5:'delay_5', 6:'delay_6', 7:'delay_7', 8:'delay_8'})

In [103]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,20000,Female,University,Married,24,delay_2,delay_2,Paid_duly,Paid_duly,No_usage,No_usage,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000,Female,University,Single,26,Paid_duly,delay_2,Revolving,Revolving,Revolving,delay_2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000,Female,University,Single,34,Revolving,Revolving,Revolving,Revolving,Revolving,Revolving,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000,Female,University,Married,37,Revolving,Revolving,Revolving,Revolving,Revolving,Revolving,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000,Male,University,Married,57,Paid_duly,Revolving,Paid_duly,Revolving,Revolving,Revolving,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [104]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'DEFAULT'],
      dtype='object')

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LIMIT_BAL  30000 non-null  int64
 1   SEX        30000 non-null  object
 2   EDUCATION  30000 non-null  object
 3   MARRIAGE   29946 non-null  object
 4   AGE        30000 non-null  int64
 5   PAY_1      30000 non-null  object
 6   PAY_2      30000 non-null  object
 7   PAY_3      30000 non-null  object
 8   PAY_4      30000 non-null  object
 9   PAY_5      30000 non-null  object
 10  PAY_6      30000 non-null  object
 11  BILL_AMT1  30000 non-null  float64
 12  BILL_AMT2  30000 non-null  float64
 13  BILL_AMT3  30000 non-null  float64
 14  BILL_AMT4  30000 non-null  float64
 15  BILL_AMT5  30000 non-null  float64
 16  BILL_AMT6  30000 non-null  float64
 17  PAY_AMT1   30000 non-null  float64
 18  PAY_AMT2   30000 non-null  float64
 19  PAY_AMT3   30000 non-null  float64
 20  PAY_AMT4   30000 non-null  float64
 21  PAY_AMT5   30000 non-null  float64
 22  PAY_AMT6   30000 non-null  float64
 23  DEFAULT    30000 non-null  int64
dtypes: float64(12), int64(3), object(9)
memory usage: 5.5+ MB

In [113]:
Numerical=df[df.columns[df.dtypes!='O']]

In [107]:
categorical=df[df.columns[df.dtypes=='O']]

In [108]:
categorical.columns

Index(['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_1', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6'],
      dtype='object')

In [109]:
df['DEFAULT']=df['DEFAULT'].astype('O')

In [110]:
cat_col=['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_1', 'PAY_2', 'PAY_3','PAY_4','PAY_5','PAY_6']
for i in cat_col:
    print('Chisquare Test between DEFAULT and',i)
    cont_table=pd.crosstab(df['DEFAULT'],df[i])
    chi_sq_Stat, p_value, deg_freedom, exp_freq=st.chi2_contingency(cont_table)
    print(p_value)

Chisquare Test between DEFAULT and SEX
4.944678999412026e-12
Chisquare Test between DEFAULT and EDUCATION
1.495064564810615e-34
Chisquare Test between DEFAULT and MARRIAGE
2.4480477042483484e-07
Chisquare Test between DEFAULT and PAY_1
0.0
Chisquare Test between DEFAULT and PAY_2
0.0
Chisquare Test between DEFAULT and PAY_3
0.0
Chisquare Test between DEFAULT and PAY_4
0.0
Chisquare Test between DEFAULT and PAY_5
0.0
Chisquare Test between DEFAULT and PAY_6
0.0

In [114]:
Numerical.columns

Index(['LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'],
      dtype='object')

In [112]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [118]:
model=ols("LIMIT_BAL~DEFAULT", data=df).fit()
aov_table = anova_lm(model)
aov_table

               df        sum_sq       mean_sq           F         PR(>F)
DEFAULT       1.0  1.190241e+13  1.190241e+13  724.068539  1.302244e-157
Residual  29998.0  4.931144e+14  1.643824e+10         NaN            NaN

In [124]:
model=ols("AGE~DEFAULT", data=df).fit()
aov_table = anova_lm(model)
aov_table

               df        sum_sq     mean_sq         F    PR(>F)
DEFAULT       1.0  4.917737e+02  491.773674  5.788556  0.016137
Residual  29998.0  2.548516e+06   84.956194       NaN       NaN

In [125]:
model=ols("BILL_AMT1~DEFAULT", data=df).fit()
aov_table = anova_lm(model)
aov_table

               df        sum_sq       mean_sq          F    PR(>F)
DEFAULT       1.0  6.277028e+10  6.277028e+10  11.580532  0.000667
Residual  29998.0  1.625990e+14  5.420328e+09        NaN       NaN

In [126]:
model=ols("BILL_AMT2~DEFAULT", data=df).fit()
aov_table = anova_lm(model)
aov_table

               df        sum_sq       mean_sq         F    PR(>F)
DEFAULT       1.0  3.061318e+10  3.061318e+10  6.044238  0.013957
Residual  29998.0  1.519355e+14  5.064854e+09       NaN       NaN

In [127]:
model=ols("BILL_AMT3~DEFAULT", data=df).fit()
aov_table = anova_lm(model)
aov_table

               df        sum_sq       mean_sq         F   PR(>F)
DEFAULT       1.0  2.858386e+10  2.858386e+10  5.944388  0.01477
Residual  29998.0  1.442467e+14  4.808545e+09       NaN      NaN

In [128]:
model=ols("BILL_AMT4~DEFAULT", data=df).fit()
aov_table = anova_lm(model)
aov_table

               df        sum_sq       mean_sq         F    PR(>F)
DEFAULT       1.0  1.280738e+10  1.280738e+10  3.094745  0.078556
Residual  29998.0  1.241445e+14  4.138427e+09       NaN       NaN

In [129]:
model=ols("BILL_AMT5~DEFAULT", data=df).fit()
aov_table = anova_lm(model)
aov_table

               df        sum_sq       mean_sq         F    PR(>F)
DEFAULT       1.0  5.067880e+09  5.067880e+09  1.371087  0.241634
Residual  29998.0  1.108801e+14  3.696248e+09       NaN       NaN

In [130]:
model=ols("BILL_AMT6~DEFAULT", data=df).fit()
aov_table = anova_lm(model)
aov_table

               df        sum_sq       mean_sq        F    PR(>F)
DEFAULT       1.0  3.070811e+09  3.070811e+09  0.86582  0.352123
Residual  29998.0  1.063941e+14  3.546708e+09      NaN       NaN

In [131]:
model=ols("PAY_AMT1~DEFAULT", data=df).fit()
aov_table = anova_lm(model)
aov_table

               df        sum_sq       mean_sq          F        PR(>F)
DEFAULT       1.0  4.377295e+10  4.377295e+10  160.40381  1.146488e-36
Residual  29998.0  8.186220e+12  2.728922e+08        NaN           NaN

In [132]:
model=ols("PAY_AMT2~DEFAULT", data=df).fit()
aov_table = anova_lm(model)
aov_table

               df        sum_sq       mean_sq           F        PR(>F)
DEFAULT       1.0  5.464924e+10  5.464924e+10  103.291524  3.166657e-24
Residual  29998.0  1.587127e+13  5.290776e+08         NaN           NaN

In [133]:
model=ols("PAY_AMT3~DEFAULT", data=df).fit()
aov_table = anova_lm(model)
aov_table

               df        sum_sq       mean_sq          F        PR(>F)
DEFAULT       1.0  2.942565e+10  2.942565e+10  95.218011  1.841770e-22
Residual  29998.0  9.270417e+12  3.090345e+08        NaN           NaN

In [134]:
model=ols("PAY_AMT4~DEFAULT", data=df).fit()
aov_table = anova_lm(model)
aov_table

               df        sum_sq       mean_sq       F        PR(>F)
DEFAULT       1.0  2.377647e+10  2.377647e+10  97.188  6.830942e-23
Residual  29998.0  7.338835e+12  2.446441e+08     NaN           NaN

In [135]:
model=ols("PAY_AMT5~DEFAULT", data=df).fit()
aov_table = anova_lm(model)
aov_table

               df        sum_sq       mean_sq          F        PR(>F)
DEFAULT       1.0  2.127801e+10  2.127801e+10  91.429801  1.241345e-21
Residual  29998.0  6.981287e+12  2.327251e+08        NaN           NaN

In [136]:
model=ols("PAY_AMT6~DEFAULT", data=df).fit()
aov_table = anova_lm(model)
aov_table

               df        sum_sq       mean_sq          F        PR(>F)
DEFAULT       1.0  2.681623e+10  2.681623e+10  85.089045  3.033589e-20
Residual  29998.0  9.454016e+12  3.151549e+08        NaN           NaN